click==8.0.1
colorama==0.4.4
Flask==2.0.1
flask-sock==0.3.0
h11==0.12.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
python-dotenv==0.17.1
simple-websocket==0.2.0
Werkzeug==2.0.1
wsproto==1.0.0
