*{
   box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 0;
}
main{
    /* min-width: 600px; */
    max-width: 700px;
    margin: 20% auto;
    padding: 1.5em;
    background-color: #ddd;    
}

#form-container{
    background-color: #bbb;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.form{
    background-color:#999;
    padding: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

input[type='submit']{

    display: block;
    margin: 10px auto;
    padding: 5px 8px;
    
    background-color: #ffee00;
    border: 0;
    border-radius: 20px;
    
}

input{
    background: white;    
    border: 0;
    border-bottom: black 2px solid;
    border-radius: 5px;
    padding: 5px 8px;
}

#send-avtar {
    margin: 10px auto;
    padding: 5px 8px;    
    background-color: #ffee00;
    border: 0;
    border-radius: 20px;
}