*{
box-sizing: border-box; 
}

:root{
    --primary-text-ff: Verdana, Geneva, Tahoma, sans-serif;
    --form-ff: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* --secondary-ff: ; */

    --primary-fs: 33px;
    --secondary-fs: 17px;   

    --bg-color: #293858;

    --color-orange: #DD5D00;
    --color-yellow: #F7BC13;
    --color-light: #F2F1D3;
    --color-dark: #293858;
    --color-placeholder: #C4C4C4;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
    background-image: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: var(--primary-text-ff);   
}

/* styling scrollbar */
/* skipping for timing */

/* Header */

header{
    /* height: 18.5vh; */
    display: flex;
    justify-content: start;
    margin-top: 1em;
}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 2em;
    margin-right: 1em;
    
}

#logo-name {
    width: 570px;
    height: 150px;
}

/* main  */

main{
    /* padding: 1.5em;  */
    /* background-color: #ddd;      */
    display: flex;
    justify-content: center;
    min-height: 75vh;
    align-items: center;
}

/* Form container */

#form-container{
    width: 100vw;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Forms */

.form{
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: space-around;
    background-color: var(--color-light);
    padding: 20px 10px;
    font-family: var(--form-ff);
    font-size: 24px;
    border-radius: 20px;   
    font-weight: 500;
}

#create-game-form {
    color: var(--color-orange);
}

#join-game-form {
    color: var(--color-yellow);
    align-items: center;
}

/* label */

label{
    display:inline-block;
}

#create-game-form > label {
    /* pa */
    font-style: normal;
    text-shadow: #58555525 2px 2px 2px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/* Buttons */

#create-game-form > button {
    background-color: var(--color-orange);
}

#join-game-form > button {
    background-color: var(--color-yellow);
}

.button {    
    width: 60%;
    margin: 1rem auto;
    padding: 10px 13px;    
    color: var(--color-light);
    border: 0;
    border-radius: 20px;
    border: var(--color-light) 1px solid;
    box-shadow: #00000050 0 4px 4px;
    cursor: pointer;
    font-size: 18px;
}

/* input box and placeholder */

input{
    max-width: 80%;
    padding: 5px 8px;
    height: 30px;
    background: var(--color-light);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 5px;
    outline: var(--color-light) 1px solid;
    color: var(--color-dark);
    font-weight: bolder;
}

/* #copy-link {
    width: 300px;
    height: 40px;
    background-color: var(--color-light);
} */

/*  now styles for arena html page start */

/* --------------------- ARENA STARTS -------------------------*/

#game-arena {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 1em; */
    padding: 1em;
    color: var(--color-light);    
}

#player-arena {
    background-color: var(--color-dark);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
    box-shadow: #000000 2px 2px 4px;
}

#players {
    width: 100%; 
}

#players-list {
    padding: 0;
}

.each-player {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px auto;
    padding: 8px 8px 5px 8px;
    background-color: var(--color-light);
    color: var(--color-dark);
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: #000000 2px 2px 4px;

    /* font-family: var(--form-ff); */
}

.each-player.turn {
    border: var(--color-orange) 5px solid;
    padding: 5px 8px;
}

#input-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#avtar-name{
    width: 90%;
    outline: 0;
}

#send-avtar {
    width: 50%;
    margin: 10px auto;
    padding: 5px 8px;    
    background-color: var(--color-light);
    color: var(--color-dark);
    font-weight: bold;
    border: 0;
    border-radius: 20px;
}

#game-board {
    border-radius: 10px;
    box-shadow: #000000 2px 2px 4px,
                var(--color-yellow) -1px -1px 2px;
    /* padding: 10px; */
    background-color: var(--color-dark);
    width: 560px;
    height: 400px;
}

#game-canvas {
    border-radius: 10px;
}

@media (max-width: 794px){
    #game-arena {
        flex-direction: column;
        justify-content: end;
    }

    #player-arena {
        width: 100%;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 0.5em;
    }

    #meta-data {
        display: none;
    }

    #players-list {
        display: flex;
        margin: 0;
    }

    .each-player {
        width: 80px;
        height: 80px;
        border-radius: 80%;
        font-size: 16px;
        padding: 3px;
    }

    .each-player.turn {
        padding: 0;
        border: var(--color-orange) 4px solid;
    }

    #input-area {
        display: none;
    }
}

@media (max-width: 594px) {
    #game-arena {
        align-items: stretch;
    }

    #game-board {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #game-arena {
        padding: 0;
        margin-top: 30px;
        position: relative;
        bottom: 0;
    }

    .each-player {
        width: 60px;
        height: 60px;
    }    
}

/* ------------------------ ARENA ENDS ----------------------------- */

/* FOOTER */
footer {
    width: 100%;
    margin-top: 20px;
    text-align:center;
    max-height:5vh; 
    background: #ddedde80;
    position: relative;
    bottom: 2px;
    color: var(--color-dark);
}

@media (max-width: 748px) {
    #logo {
        width: 100px;
        height: 100px;
        margin-top: 0.8em;
    }
    
    #logo-name {
        width: 470px;
        height: 120px;
    }

    #form-container {
        height: 90vh;
        display: flex;
        flex-flow: column;
        justify-content: spacebetween;
    }
}

@media (max-width: 584px) {
    #logo {
        width: 100px;
        height: 100px;
        margin-top: 0.8em;
        margin-left: 2em;
        margin-right: 0.6em;
    }
    
    #logo-name {
        width: 400px;
        height: 80px;
        margin-top: 0.8em;
    }
}

@media (max-width: 436px) {

    #logo {
        width: 80px;
        height: 60px;
        margin-top: 0.8em;
        margin-left: 1.2em;
        margin-right: 0.6em;
    }
    
    #logo-name {
        width: 300px;
        height: 60px;
        margin-top: 0.8em;
    }
    .form {
        width: 250px;    
        height: 200px;
        padding: 15px 10px;
    }

    .button {
        width: 80%;
        padding: 5px 8px;
    }
}


